@use "../abstracts/colors" as colors;


/*** Header ***/
.header__block {
    align-items: center;
    background-color: colors.$white;
    display: flex;
    filter: drop-shadow(0 2.5px 5px colors.$black);
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 100px;
    padding: 10px 100px;
    z-index: 1;
}

/** Logo **/
.header__logo {
    font-size: 30px;
    margin: 0;
}

/** Nav **/
.nav__list {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item:not(:last-of-type) {
    border-right: 1px solid colors.$black;
    padding-right: 15px;
}

/*** Responsive ***/
@media screen and (max-width: 1350px) {
    .header__block {
        justify-content: center;
        min-height: 50px;
        padding: 10px;
    }

    /** Nav **/
    .nav__list {
        display: none;
    }
}