/*** Main ***/
.main__block {
    flex: 1 0 auto;
    padding-bottom: 20px;
    text-align: center;
}

/*** Responsive ***/
@media screen and (max-width: 1350px) {
    .main__block {
        padding-bottom: 65px;
    }
}