{% extends "base.html.twig" %}
{% set pageId = "forgot_password" %}


{% block main %}
    <h1 class="page__title">Mot de passe oublié</h1>

    <form class="form__block" method="post">
        {% for label, messages in app.flashes(["success", "warning"]) %}
            {% for message in messages %}
                <span class="message message--{{ label }}">{{ message }}</span>
            {% endfor %}
        {% endfor %}

        <div class="form__row">
            <div>
                <label for="forgot_password_username">Nom d'utilisateur</label>
                <input id="forgot_password_username" name="forgot_password_username" required type="text">
            </div>
        </div>
        <button class="btn" type="submit">Demander un changement de mot de passe</button>
    </form>
{% endblock %}
