{% extends "base.html.twig" %}
{% set pageId = "reset_password" %}


{% block main %}
    <form class="form__block" method="post">
        {% for label, messages in app.flashes(["success", "warning"]) %}
            {% for message in messages %}
                <span class="message message--{{ label }}">{{ message }}</span>
            {% endfor %}
        {% endfor %}

        <div class="form__row">
            <div>
                <label for="reset_password_username">Nom d'utilisateur</label>
                <input disabled id="reset_password_username" name="reset_password_username" required type="text" value="{{ reset_password_username }}">
            </div>
        </div>
        <div class="form__row">
            <div>
                <label for="reset_password_password">Mot de passe</label>
                <input id="reset_password_password" name="reset_password_password" required type="password">
            </div>
        </div>
        <button class="btn" type="submit">Changer mon mot de passe</button>
    </form>
{% endblock %}
