
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/images/tricks/
/public/assets/images/avatars/*
!/public/assets/images/avatars/placeholder/
!/public/assets/images/tricks/placeholder/
/public/assets/videos/tricks/
!/public/assets/videos/tricks/placeholder/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###


###> NPM ###
node_modules
###< NPM ###