@use "../abstracts/colors" as colors;


/** Banner **/
.home__banner {
    position: relative;
}

.banner__image {
    filter: brightness(0.65);
    height: calc(100vh - 120px);
    object-fit: cover;
    width: 100%;
}

.banner__text {
    color: colors.$white;
    font-size: 24px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner__arrow {
    bottom: 20px;
    color: colors.$white;
    font-size: 48px;
    position: absolute;
    right: 20px;

    &:hover {
        color: colors.$white;
    }
}

/** Tricks list **/
#tricks__list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin: 15px 250px 0 250px;
}

.tricks__item {
    border: 1px solid;
    display: flex;
    flex-basis: calc(20% - 25px);
    flex-direction: column;
    text-align: center;
}

.tricks__break {
    flex-basis: 100%;
    height: 0;
}

/** Trick **/
.trick__image {
    width: 100%;
}

.trick__informations {
    display: flex;
    justify-content: space-evenly;
}