@use "../abstracts/colors" as colors;


/** Banner **/
.home__banner {
    position: relative;
}

.banner__image {
    filter: brightness(0.65);
    height: calc(100vh - 120px);
    object-fit: cover;
    width: 100%;
}

.banner__text {
    color: colors.$white;
    font-size: 24px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner__arrow {
    bottom: 20px;
    color: colors.$white;
    font-size: 48px;
    position: absolute;
    right: 20px;

    &:hover {
        color: colors.$white;
    }
}

/** Tricks list **/
#tricks__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 15px 150px 0 150px;
}

.tricks__item {
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-basis: calc(20% - 50px);
    flex-direction: column;
    text-align: center;
    transition: 0.5s;

    &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 5px 3px colors.$black);
    }
}

.tricks__break {
    flex-basis: 100%;
}

/** Trick **/
.trick__image {
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.trick__informations {
    align-items: center;
    background-color: colors.$black;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

.trick__action {
    display: flex;
    font-size: 20px;
    gap: 10px;
}