@use "../abstracts/colors" as colors;


/*** Form ***/
.form__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    min-width: 400px;
    padding: 10px;
    text-align: left;
    width: fit-content;

    > .btn {
        margin: 20px auto;
    }
}

/** Status **/
.form__status > ul {
    color: colors.$red;
    list-style: none;
    margin: 0 auto 20px auto;
    padding: 0;
}

/** Row **/
.form__row {
    margin-bottom: 20px;
}

.form__row--inline {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    > input[type="checkbox"] {
        height: 20px;
        width: 20px;
    }
}

/** Label **/
.form__block label {
    font-weight: bold;
}

.form__block label.required::after {
    color: colors.$red;
    content: " *";
}

/** Input **/
.form__block input,
.form__block textarea,
.form__block select {
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid colors.$black;
    height: 30px;
    width: 100%;
}

.form__block textarea {
    min-height: 65px;
    resize: none;
}

.form__block select {
    text-transform: capitalize;
}