@use "../abstracts/colors" as colors;


.link {
    color: colors.$blue;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: colors.$violet;
    }
}

/** Secondary **/
.link--secondary {
    color: colors.$cyan;
}

/** Icons **/
.link--icon {
    color: colors.$white;
}