@use "../abstracts/colors" as colors;


/*** Link ***/
.link {
    color: colors.$blue;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: colors.$violet;
    }
}

/** Secondary **/
.link--secondary {
    color: colors.$cyan;
}

/** Active **/
.link--active {
    border-bottom: 1px solid colors.$black;
}

/** Icons **/
.link--icon {
    color: colors.$white;
}