<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}SnowTricks{% endblock %}</title>
    <link href="{{ asset('assets/node_modules/remixicon/fonts/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/styles/style.css') }}" rel="stylesheet">
</head>
<body>
    <header class="header__block">
        <h1 class="header__logo">SnowTricks</h1>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="link nav__link" href="#">Accueil</a>
                </li>
                <li class="nav__item">
                    <a class="link nav__link" href="#">Se connecter</a>
                </li>
                <li class="nav__item">
                    <a class="link nav__link" href="#">S'inscrire</a>
                </li>
            </ul>
        </nav>
    </header>

    <main class="main__block">
        {% block main %}{% endblock %}
    </main>

    <footer class="footer__block">
        <span class="footer__copyright">© SnowTricks {{ "now" | date("Y") }}</span>
        <div class="footer__mobile">
            <a class="link link--icon" href="#">
                <i class="ri-home-2-fill"></i>
            </a>
            <a class="link link--icon" href="#">
                <i class="ri-login-box-fill"></i>
            </a>
            <a class="link link--icon" href="#">
                <i class="ri-user-add-line"></i>
            </a>
        </div>
    </footer>

    <script src="{{ asset('assets/scripts/script.js') }}" type="module"></script>
</body>
</html>
