@use "../../abstracts/colors" as colors;


#register {
    text-align: center;
}

// Form
form {
    border: 1px solid colors.$black;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    margin: 50px auto auto auto;
    padding: 25px;
    text-align: left;
    width: 500px;

    > .btn {
        margin-top: 20px;
    }
}