@use "../../abstracts/colors" as colors;


/** Header **/
.trick__header {
    position: relative;
}

/** Featured **/
.trick__featured {
    display: flex;
    height: 350px;
    object-fit: cover;
    width: 100%;
}

/** Name **/
.trick__header > .trick__name {
    background-color: colors.$black-transparent;
    color: colors.$white;
    font-size: 25px;
    left: 50%;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/** Action **/
.trick__header > .trick__action {
    background-color: colors.$black-transparent;
    color: colors.$white;
    padding: 20px 40px;
    position: absolute;
    right: 50px;
    top: 50px;
}

/** Container **/
.trick__container {
    margin: 50px 100px;
    width: calc(100% - 200px);
}

/** Medias **/
.trick__medias {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.trick__media {
    height: 335px;
    object-fit: cover;
    transition: 0.5s;
    width: 335px;

    &:hover {
        cursor: pointer;
        filter: brightness(0.5);
    }
}

.trick__media__card {
    display: flex;
    flex-direction: column;
}

.trick__media__card > .link--icon {
    color: colors.$black;
    font-size: 24px;
    margin: auto;
    width: fit-content;

    &:hover {
        color: colors.$violet;
    }
}

/** Description **/
.trick__description {
    margin: auto auto 50px auto;
    text-align: justify;
    white-space: pre-line;
}

/** Badges **/
.trick__badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.badge__title {
    font-weight: bold;

    &::after {
        content: " : ";
    }
}

.badge__value {
    text-transform: capitalize;
}

/** Comments **/
.trick__comments {
    border-top: 1px solid colors.$black;
    margin-top: 50px;
    padding-top: 20px;


}

.trick__comments__list {
    > .trick__comment:nth-child(n+11) {
        display: none;
    }
}

.trick__comment {
    border-bottom: 1px solid colors.$black;
    flex-direction: column;
    margin: auto auto 30px auto;
    padding: 0 20px;
    width: fit-content;
}

.comment__form {
    margin: 30px 0;
}

.comment__avatar {
    border-radius: 50%;
    display: block;
    margin: auto auto 5px auto;
    height: 100px;
    width: 100px;
}

.comment__name {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.comment__date {
    font-size: 15px;
    font-weight: 600;
}

/** Modal **/
.trick__modal {
    background-color: colors.$black-transparent;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.trick__modal__close {
    color: colors.$white;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    top: 5px;
    transition: 0.5s;

    &:hover {
        color: colors.$red;
        cursor: pointer;
    }
}

.trick__modal__content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 100%;

    &:hover {
        cursor: default;
    }
}

.trick__modal__image,
.trick__modal__video {
    max-width: 100%;
    width: 800px;
}

/*** Responsive ***/
@media screen and (max-width: 1350px) {

    /** Action **/
    .trick__header > .trick__action {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px;
        right: 0;
        top: 0;
    }

    /** Name **/
    .trick__header > .trick__name {
        font-size: 20px;
        padding: 10px 25px;
    }

    /** Container **/
    .trick__container {
        margin: 50px 5px;
        width: calc(100% - 10px);
    }

    /** Medias **/
    .btn--hide__media {
        margin-bottom: 20px;
    }

    .trick__medias {
        display: none;
    }

    .trick__media {
        height: 250px;
        width: 250px;
    }

    /** Modal **/
    .trick__modal__image,
    .trick__modal__video {
        height: 280px;
        object-fit: cover;
        width: 280px;
    }
}