@use "../../abstracts/colors" as colors;


/** Header **/
.trick__header {
    position: relative;
}

/** Featured **/
.trick__featured {
    display: flex;
    height: 350px;
    object-fit: cover;
    width: 100%;
}

/** Name **/
.trick__header > .trick__name {
    background-color: colors.$black-transparent;
    color: colors.$white;
    font-size: 25px;
    left: 50%;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/** Action **/
.trick__header > .trick__action {
    background-color: colors.$black-transparent;
    padding: 20px 40px;
    position: absolute;
    right: 50px;
    top: 50px;
}

/** Container **/
.trick__container {
    margin: 50px 100px;
    width: calc(100% - 200px);
}

/** Medias **/
.trick__medias {
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.trick__media {
    height: 335px;
    object-fit: cover;
    width: 335px;
}

/** Description **/
.trick__description {
    margin: auto auto 50px auto;
    text-align: justify;
    white-space: pre-line;
}

/** Badges **/
.trick__badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.badge__title {
    font-weight: bold;

    &::after {
        content: " : ";
    }
}

.badge__value {
    text-transform: capitalize;
}

/*** Responsive ***/
@media screen and (max-width: 992px) {

    /** Action **/
    .trick__header > .trick__action {
        padding: 10px 20px;
        right: 10px;
        top: 10px;
    }

    /** Name **/
    .trick__header > .trick__name {
        font-size: 20px;
        padding: 10px 25px;
    }

    /** Container **/
    .trick__container {
        margin: 50px 20px;
        width: calc(100% - 40px);
    }

    /** Medias **/
    .trick__media {
        height: 250px;
        width: 250px;
    }
}