/** Featured **/
.trick__featured {
    display: flex;
    height: 350px;
    object-fit: cover;
    width: 100%;
}

/** Medias **/
.trick__medias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 5% 0;
    width: 90%;
}

.trick__media {
    height: 335px;
    object-fit: cover;
    width: 335px;
}