{% extends "base.html.twig" %}
{% set pageId = "trick_presentation" %}
{% set featuredMedia = data.medias|filter(media => media.featured)|first %}

{% block main %}
    <div class="trick__header">
        <img class="trick__featured" src="{{ asset(featuredMedia.path) }}">
        {% if app.user == true %}
            <div class="trick__action">
                <a class="link" href="">
                    <i class="ri-pencil-line"></i>
                </a>
                <a class="link " href="">
                    <i class="ri-delete-bin-line"></i>
                </a>
            </div>
        {% endif %}
    </div>

    <div class="trick__medias">
        {% for media in data.medias %}
            {% if media.path and media.type == "image" and media.featured == false %}
                <img class="trick__media" loading="lazy" src="{{ asset(media.path) }}">
            {% elseif media.path and media.type == "video" and media.featured == false %}
                <video class="trick__media" controls>
                    <source src="{{ asset(media.path) }}">
                </video>
            {% elseif media.featured == false and media.type == "embed" %}
                <iframe src="{{ media.src }}"></iframe>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}